@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #0f0f0f;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
}

/* This is the fix! Vite limits this by default. */
#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: left; /* Default was center */
}